h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    line-height: 1.2;
    margin: 6px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 16px 0;
}

img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 6px;
}